   /* Fazer a versão tablet e celular */
   /* Fazer padding para botões (quando width diminui, gruda na lateral */
   /* Moleculas*/

:root{
   --bg-color-white: #FFFFFF;
   --gradient-blue: linear-gradient(132.4deg, #7B999C 4.14%, #315C70 100%);
   --gradient-orange: linear-gradient(135deg, #F87544 0%, #F54B0C 100%);
   --gradient-lightblue: linear-gradient(121.53deg, #F3F9FF 0%, #F1F0FF 100%);

   --font-lato: 'Lato', sans-serif;;
   --font-josefine: 'Josefin Sans', sans-serif;
   --font-opensans: 'Open Sans', sans-serif;
   --font-cursive: 'Lily Script One', cursive;


   --fontsize-1: clamp(0.75rem, calc(0.73rem + 0.13vw), 0.88rem); /*14px (12px)*/
   --fontsize-2: clamp(0.84rem, calc(0.80rem + 0.21vw), 1.05rem); /*16px (16px)*/
   --fontsize-3: clamp(0.95rem, calc(0.89rem + 0.31vw), 1.26rem); /*20px (18px)*/
   --fontsize-4: clamp(1.07rem, calc(0.98rem + 0.44vw), 1.51rem); /*24px (20px)*/
   --fontsize-5: clamp(1.20rem, calc(1.08rem + 0.61vw), 1.81rem); /*29px (28px)*/
   --fontsize-6: clamp(1.35rem, calc(1.19rem + 0.83vw), 2.18rem); /*34px (30px)*/
   --fontsize-7: clamp(1.52rem, calc(1.30rem + 1.09vw), 2.61rem); /*41px (44px)*/
   --fontsize-8: clamp(1.71rem, calc(1.43rem + 1.42vw), 3.14rem); /*50px (50px)*/

   --fontcolor-white: #FFFFFF;
   --fontcolor-blue: #315C70;
   --fontcolor-darkblue: #1D3178;
   --fontcolor-lightblue: #8A8FB9;
   --fontcolor-orange: #F54B0C;


   --basepadding: 19.25vw;
   --half-padding: calc(var(--basepadding) / 2);
   --threequarter-padding: calc(var(--basepadding) * 3 / 4);
   --padding: var(--basepadding); 
   --padding-big: calc(var(--basepadding) * 4 / 3);

   /* explorar min(15vw, var(--fontsize-1)) x width min(85%, 85rem)*/
   
   --icon-size: var(--fontsize-1);
}

/*
   display
   position
   box-model (height, margin, padding, border)
   typography
   manipulation
   miscelaneous


*/
/*TIRAR*/
body{
   font-size: var(--fontsize-2);
   line-height: 1.5;
}

/*UTILITY CLASS*/
.link-button{   
   display: inline-block;
   
   background-image: var(--gradient-orange);
   
   color: var(--fontcolor-white);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-2);
   font-weight: 300;
   text-decoration: none;

   border-radius: .25em;
}

.invert-button{
   border: 1px solid var(--fontcolor-orange);
   background: var(--bg-color-white);
   
   color: var(--fontcolor-orange);
}

/* HEADER BAR */
.header-bar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   padding-inline: var(--padding);
   padding-block: 2vh;
   background-image: var(--gradient-blue);
}

.menu-checkbox, .nav-checkbox{
   position: absolute;
   left: -100%;

   opacity: 0;
}

.menu-checkbox:checked ~ .header-bar__contact{
   transform: scaleY(1);
   filter: opacity(1);
}

:is(.menu-checkbox, .nav-checkbox) + label{
   position: absolute;
   left: -100%;

   opacity: 0;
}

.header-bar__contact{
   display: flex;
   gap: calc(var(--fontsize-2) * 2);   
}

.header-bar__contact__item,
.header-bar__cart{
   color: var(--fontcolor-white);
   font-family: var(--font-josefine);
   font-size: var(--fontsize-2);
   font-weight: 600;
   text-decoration: none;
   line-height: 1.5;
}

.header-bar__contact__item:first-of-type{
   margin-left: var(--icon-size); /*Necessary to align with rest of content*/
}

.header-bar__contact__item::before,
.header-bar__cart::before{
   content: '';
   display: inline-block;

   position: relative;
   top: calc(var(--icon-size) / 4);

   width: var(--icon-size);
   height: var(--icon-size);
   margin-right: calc(var(--icon-size) / 2);   
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 50%;
}

.email::before{
   background-image: url(../img/envelope.svg);
}

.phone::before{
   background-image: url(../img/phone.svg);
}

.header-bar__cart::before{
   background-image: url(../img/cart.svg);
}


/* HEADER NAVIGATION */
.header-navigation{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   padding-inline: var(--padding);
   padding-block: 2vh;
   background-color: var(--bg-color-white);
}

.header-navigation__logo{
   width: 11%;
   height: var(--fontsize-8);
   
   object-fit: cover;
}

.header-navigation:has(.nav-checkbox:checked) > nav{
   transform: scaleY(1);
   filter: opacity(1);
}

.header-navigation__items{
   display: flex;
   gap: 3vw;
}

.header-navigation__link{
   color: var(--fontcolor-blue);
   font-family: var(--font-lato);
   font-size: var(--fontsize-2);
   font-weight: 400;
   text-decoration: none;
   line-height: 1.5;
}

:has( > .header-navigation__underline){
   position: relative;
}

.header-navigation__underline{
   position: absolute;   

   height: 2px;
   width: 8%;
   background-color: var(--fontcolor-orange);
   bottom: -2px;
   left: 0;

   transition: left .75s ease-in, width 1s ease-in-out;
}

.header-navigation__cta{
   padding: .5em 2.25em;
}

/*BANNER*/
.banner-container{
   position: relative;
}

.banner__bg{
   position: absolute;
   
   height: 100%;
   width: 100%;   
   background-image: var(--gradient-lightblue);
   z-index: -1;

   -webkit-clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
   clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

.banner__content-wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding-inline: var(--padding);
   padding-block: 10vh 2vh;
}

.banner__content-wrapper > *{
   flex: 1;
}

.banner__content__title{
   margin-bottom: .5em;
   
   font-family: var(--font-opensans);
   font-size: var(--fontsize-8);
   font-weight: 300;
   color: var(--fontcolor-blue);
}

.banner__content__text{
   margin-bottom: .75em;
   
   font-family: var(--font-opensans);
   font-size: var(--fontsize-2);
   font-weight: 300;
   color: var(--fontcolor-lightblue);
}

.banner__button-container{
   display: flex;
   gap: 5%;
}

.banner__button-container :nth-child(1){
   flex-grow: 1;
}

.banner__button-container :nth-child(2){
   flex-grow: 2;
}

.banner__content__cta{
   padding: .75em 1em;

   text-align: center;
}

:has( > .banner__image){
   transform: scale(1.1) translateX(20%);
}

.banner__image{
   position: relative;
   
   width: 100%;
}

.image-shadow::after{
   content: '';

   position: absolute;
   top: -6%;
   left: 10%;

   width: 100%;
   aspect-ratio: 1;
   background-color: white;

   border-radius: 50%;   
}

.image-shadow > *{
   position: relative;
   z-index: 1;
}

.banner__image__picture{   
   width: 100%;
   aspect-ratio: 1;

   border-radius: 50%;
   object-fit: cover; 
}

.molecule{
   position: absolute;
   top: 30%;
   left: -1%;
   z-index: 0;

   animation-name: float;
   animation-duration: 10s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

.molecule__image{
   width: calc(var(--basepadding) * 4 / 5);
}

@keyframes float{
   50%{
      transform: rotate(10deg) scale(.85);

   }
   100%{
      top: 50%;
      left: 1%;
      transform: rotate(-10deg) scale(1);
   }
}


/* INFO */

.info{
   display: flex;
   justify-content: space-between;
   gap: 10%;

   padding-inline: var(--padding);
   padding-block: 10vh;
}

.info-blue{
   background-image: var(--gradient-lightblue);
}

.info__image{
   flex: 4;

   position: relative;
}

.info__image__content{
   width: 98%;
   border: 5px solid var(--fontcolor-blue);

   object-fit: cover;
   object-position: center;
   border-radius: 50%;
}

.info__content{
   flex: 5;
}

.info__content__h2,
.info__content__p{
   margin-bottom: 3em;
   
   color: var(--fontcolor-lightblue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-2);
   font-weight: 400;
}

.info__content__h3{
   color: var(--fontcolor-blue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-6);
   font-weight: 300;
   margin-bottom: 2em;
}

.info__content__button{
   padding: 1em 1.75em
}

/* TESTIMONIALS */
.testimonials{
   padding-inline: var(--half-padding);
   padding-block: 10vh;
   background-image: var(--gradient-lightblue);
}

.testimonials__title{
   margin-bottom: 1em;

   color: var(--fontcolor-blue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-5);
   font-weight: 700;
   text-align: center;
   line-height: 1.2;
}

.testimonials__title--special{
   color: var(--fontcolor-orange);
   font-size: var(--fontsize-7);
   font-weight: 300;
   display: block;
}

.testimonials__description{
   max-width: 60ch;
   margin-inline: auto;
   margin-bottom: 4em;
   
   color: var(--fontcolor-lightblue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-3);
   font-weight: 400;
   text-align: center;
   line-height: 1.7;
}

.testimonials__cards{
   display: flex;
   gap: 3%; /* Atenção */
}

.testimonials__cards__card{
   flex: 1;

   position: relative;

   padding: 7.5em 1.5em 1.5em;
   background-color: #ffffff;

   box-shadow: 5px 10px 12px -10px #000000;
   border-radius: .375em;
}

.testimonials__cards__card::before{
   content: '"';

   display: inline-block;

   position: absolute;
   top: var(--fontsize-2);
   left: var(--fontsize-2);

   color: var(--fontcolor-orange);
   font-size: var(--fontsize-8);
   font-family: var(--font-cursive);

   transform: translate(50%, -75%) scale(3) rotate(180deg);
}

.card__text{
   margin-bottom: 1em;
   
   color: var(--fontcolor-lightblue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-3);
   font-weight: 500;
   line-height: 1.7;
}

.card__person{
   display: flex;
   align-items: center;
   gap: 2%;
}

.card__person__image{
   border-radius: 50%;
}

.card__person__name, 
.card__person__rating{
   font-family: var(--font-opensans);
   font-size: var(--fontsize-3);
   font-weight: 700;
}

.card__person__rating{
   display: flex;
   align-items: center;

   margin-left: auto;
}

.card__person__rating::before{
   content: '';

   display: inline-block;

   width: var(--fontsize-3);
   height: var(--fontsize-3);
   margin-right: calc(var(--fontsize-3) / 2);
   background-image: url(../img/star.svg);
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

/* EXPLANATION */
.explanation{
   padding-inline: var(--padding-big);
   padding-block: 10vh;
}

.explanation__title{
   margin-bottom: 4em;

   color: var(--fontcolor-blue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-5);
   font-weight: 700;
   text-align: center;
   line-height: 1.2;
}

.explanation__title--special{
   color: var(--fontcolor-orange);
   font-size: var(--fontsize-6);
   font-weight: 300;
   display: block;
}

.explanation__list{
   display: flex;
   justify-content: center;
   gap: 7%;
}

.explanation__list__item{
   flex: 1;

   margin-bottom: 10%;

   text-align: center;
}

.explanation__list__item > figure{
   margin-bottom: 15%;
}

.explanation__list__item > h3{
   margin-bottom: .5em;
   
   color: var(--fontcolor-blue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-3);
   font-weight: 400;
}

.explanation__list__item > p{
   color: var(--fontcolor-blue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-1);
   font-weight: 400;
}

.explanation__link{
   display: block;

   width: min(40%, 20ch);
   padding-block: .75em;
   margin-inline: auto;

   text-align: center
}
 /* ADVANTAGES */
.advantages{
   padding-inline: var(--threequarter-padding);
   padding-block: 15vh;
   background-image: var(--gradient-lightblue);
}

.advantages__title{
   margin-bottom: 4em;

   color: var(--fontcolor-blue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-5);
   font-weight: 700;
   text-align: center;
   line-height: 1.2;
}

.advantages__title--special{
   color: var(--fontcolor-orange);
   font-size: var(--fontsize-6);
   font-weight: 500;
   display: block;
}

.advantages__card-wrapper{
   display: flex;
   flex-wrap: wrap;
   gap: var(--fontsize-3);
}

.advantages__card{
   position: relative;
   
   flex-grow: 1;
   width: 20%;
   --padding-bottom: 1em;
   padding-bottom: var(--padding-bottom);
   background-color: #FFFFFF;

   
}

.advantages__card > *{   
   font-family: var(--font-opensans);
   font-weight: 400;
}

.advantages__card > img{
   display: block;
   
   max-width: 100%;
   margin-inline: auto;
}

.advantages__card > :is(h3, p, a){
   padding-inline: 1.25rem;
}

.advantages__card > h3{
   margin-bottom: .75em;
   
   color: var(--fontcolor-blue);
   font-size: var(--fontsize-3);   
}

.advantages__card > p{
   margin-bottom: 2.5em;
   
   color: var(--fontcolor-blue);
   font-size: var(--fontsize-2);
}

.advantages__card > a{   
   display: inline-block;

   position: absolute;
   bottom: var(--padding-bottom);

   /* margin-bottom: 2em; Isso estava aqui seguindo o layout original */

   color: var(--fontcolor-orange);
   font-size: var(--fontsize-2);   
   text-decoration: none;
}

/* CLIENT - HIGHLIGHT */
.client-highlight{
   padding-inline: var(--padding);
   padding-block: 8vh 2vh;

   text-align: center;
}

.client-highlight > :not(.highlight__signature){
   margin-bottom: .75em;
}

.highlight__image{
   width: 8%;
   
   border-radius: 50%;
}

.highlight__text{
   color: var(--fontcolor-blue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-5);
   font-weight: 700;
}

.text__quotations{
   position: relative;
}

.text__quotations::before, 
.text__quotations::after{
   content: '"';
   
   position: absolute;
   top: 0;

   font-size: var(--fontsize-8);
}

.text__quotations::before{   
   left: -1em;
}

.text__quotations::after{   
   right: -1em;
}

.highlight__signature{
   color: var(--fontcolor-orange);
   font-size: var(--fontsize-3);
}

/* INVITATION */
.invitation{
   display: flex;
   
   padding-inline: var(--padding);
   padding-block: 8vh;
   background-image: var(--gradient-lightblue);
}
.invitation > * {
   flex: 1;
}

.invitation__text > h2{
   margin-bottom: .5em;

   color: var(--fontcolor-blue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-6);
   font-weight: 300;
}

.invitation__text > h2 > span{
   display: block;

   background: var(--gradient-blue);
   -webkit-background-clip: text;
   background-clip: text;
   
   color: transparent;
   font-size: var(--fontsize-5);
   font-weight: 700;
}

.invitation__text > p{
   max-width: 75%;
   margin-bottom: 1em;
   
   color: var(--fontcolor-blue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-2);
   line-height: 1.7;
}

.invitation__text > ul{
   display: flex;
   flex-wrap: wrap;

   margin-bottom: 1.5em;
}

.invitation__text > ul > li{
   display: flex;
   align-items: center;
   
   width: 50%;

   color: var(--fontcolor-blue);
   font-family: var(--font-lato);
   font-size: var(--fontsize-2);
   line-height: 1.8;
}

.invitation__text > ul > li::before{
   content: '';

   display: inline-block;

   width: 1.5em;
   height: 100%;
   background-image: url(../img/check.svg);
   background-size: contain;
   background-repeat: no-repeat;
}

.invitation__text > a{
   width: 40%;
   padding-block: 1.25em;
   padding-inline: .75em;

   text-align: center;
   text-transform: uppercase;
}

.invitation__cards > ul{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 1.25em 2em;
}

.invitation__cards > ul > li{
   width: 28%;
}

.invitation__cards > ul > li > img{
   max-width: 100%;
}

/* LEAD CAPTURE */
.lead-capture{
   display: flex;
   align-items: center;
   gap: 12%;
   
   padding-inline: var(--padding);
   padding-block: 8vh;
}

.lead-capture__image{
   width: 30%;
}

.lead-capture__title{
   margin-bottom: .75em;
   
   color: var(--fontcolor-blue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-6);
   font-weight: 300;   
}

.lead-capture__title--highlight{
   color: var(--fontcolor-orange);
}

.lead-capture__text{
   margin-bottom: 1.25em;
   
   color: var(--fontcolor-lightblue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-2);
   font-weight: 300;
}

.lead-capture__form{
   display: flex;
   gap: 1%;
}

.lead-capture__form > *{
   flex: 1;
}

.lead-capture__form__field{
   position: relative;
}

.lead-capture__form__field > label{
   position: absolute;
   top: .25em;
   left: 1em;

   color: var(--fontcolor-orange);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-2);
   line-height: 1.5;

   transition: top 1s ease-in-out, left 1s ease-in-out;
}

/* 
Muda a label de lugar se:  
1) Tem foco no input
2) O input não está vazio (não está mostrando o placeholder, que é uma string vazia)
*/
.lead-capture__form__field:has(:is(input:focus, input:not(:placeholder-shown))) > label{
   top: calc(100% + .25em);
   left: 0;
}

.lead-capture__form__field > input{
   box-sizing: border-box;
   width: 100%;
   padding-block: .25em;
   padding-left: 1em;
   border: 1px solid currentColor;
   outline: none;
   
   color: var(--fontcolor-orange);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-2);
   line-height: 1.5;
}

.lead-capture__form__field > :is(input:focus,  input:hover){
   outline: 1px solid currentColor;
}

.lead-capture__form > button{
   padding-block: .25em;
   border: none;
   outline: none;
   background-image: var(--gradient-orange);
   
   color: var(--fontcolor-white);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-2);
   text-transform: uppercase;

   cursor: pointer;
}

.lead-capture__form > :is(button:focus,  button:hover){
   -webkit-background-clip: text;
   background-clip: text;

   border-width: 1px;
   border-style: solid;
   border-image: var(--gradient-orange) 1;   
   
   color: transparent;

   box-shadow: 0 0 5px -1px var(--fontcolor-orange);
}
 /* CONTACT */
.contact{
   padding-inline: var(--padding-big);
   padding-block: 8vh 12vh;
}

.contact > h2{
   margin-bottom: 3.5em;

   color: var(--fontcolor-blue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-5);
   font-weight: 700;  
   line-height: 1.2;
   text-align: center;
}

.contact > h2 > span{
   display: block;

   background: var(--gradient-orange);
   -webkit-background-clip: text;
   background-clip: text;
   
   color: transparent;   
   font-size: var(--fontsize-6);
   font-weight: 300;  
}

.contact__content-wrapper{
   display: flex;
}

.contact__content-wrapper > *{
   flex: 1;
}

.contact__address > h3{
   margin-bottom: 1.5em;
   
   color: var(--fontcolor-darkblue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-6);
   font-weight: 300;
}

.contact__address > h4{
   margin-bottom: 1em;

   color: var(--fontcolor-darkblue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-3);
}

.contact__address :is(li, p) {
   color: var(--fontcolor-lightblue);
   font-family: var(--font-josefine);
   font-size: var(--fontsize-2);
}

.contact__address > ul{
   margin-bottom: 3.5em;
}

.contact__form{
   padding-inline: 2%;
}

.contact__form > h3{
   margin-bottom: 1.125em;

   color: var(--fontcolor-darkblue);
   font-family: var(--font-josefine);
   font-size: var(--fontsize-4);
   font-weight: 700;
}

.contact__form__field{
   position: relative;

   margin-bottom: 2em;
}

.contact__form__field:nth-last-child(2){
   margin-bottom: 2.5em;
}

.contact__form__field > label{
   position: absolute;
   top: .625em;
   left: 1em;

   color: var(--fontcolor-lightblue);
   font-family: var(--font-lato);
   font-size: var(--fontsize-2);
   line-height: 1.5;

   transition: top 1s ease-in-out, left 1s ease-in-out;
}

.contact__form__field:has(:is(input:focus, input:not(:placeholder-shown), textarea:focus, textarea:not(:placeholder-shown))) > label{
   top: calc(-1 * (var(--fontsize-2) * 1.5));
   left: 0;
}

.contact__form__field > :is(input, textarea){
   box-sizing: border-box;
   width: 100%;
   padding-block: .625em;
   padding-left: 1em;
   background: var(--gradient-lightblue) padding-box, var(--gradient-blue) border-box;
   outline: none;
   border: 1px solid transparent;
   /*
    Comparar com técnica para border gradient usada no outro form. A outra não permite border-radius
    
    */
   
   color: var(--fontcolor-lightblue);
   font-family: var(--font-lato);
   font-size: var(--fontsize-2);
   line-height: 1.5;

   /* Padding-block x 2 + tamanho da fonte com line-height /  */
   border-radius: calc(((.625em * 2) + (var(--fontsize-2) * 1.5)) / 10);
}

.contact__form__field > textarea{
   min-height: calc(var(--fontsize-2) * 10);

   resize: vertical;
}

.contact__form__field > :is(:is(input, textarea):focus,  :is(input, textarea):hover){
   outline: 1px solid var(--fontcolor-blue);
}

.contact__form > button{
   padding: .5em 2em;
   border: none;
   outline: none;
   background-image: var(--gradient-orange);
   
   color: var(--fontcolor-white);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-2);

   cursor: pointer;
   border-radius: calc((1em + var(--fontsize-2)) / 10);
}

.contact__form > :is(button:focus,  button:hover){
   -webkit-background-clip: text;
   background-clip: text;

   border-width: 1px;
   border-style: solid;
   border-image: var(--gradient-orange) 1;   
   
   color: transparent;

   box-shadow: 0 0 5px -1px var(--fontcolor-orange);
}

/* FOOTER */
.footer-top{
   display: flex;
   align-items: flex-start;
   gap: 2%;
   
   padding-inline: var(--padding);
   padding-block: 5vh;
   background-image: var(--gradient-lightblue);
}

.footer-top > *{
   flex: 1;
}

.footer-top img{
   max-width: 100%;
   height: auto;
}

.footer-top > * > h2{
   margin-bottom: 1.625em;
   
   color: #000000;
   font-family: var(--font-josefine);
   font-size: var(--fontsize-4);
   font-weight: 600;
}

.footer-top :is(li, p){
   margin-bottom: 1em;
   
   color: var(--fontcolor-lightblue);
   font-family: var(--font-opensans);
   font-size: var(--fontsize-2);
}

.footer-top iframe{
   display: block;

   width: 100%;
   min-height: 20vh;
   margin-bottom: var(--fontsize-2);
}

.footer-top a:not(.invert-button){
   text-decoration: none;
   color: inherit;
}

.footer-top .invert-button{
   width: 100%;
   padding-block: .5em;

   text-align: center;
}

.footer-bottom{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   padding-inline: var(--padding);
   padding-block: 1vh;
   background-image: var(--gradient-blue);
}

.footer-bottom > span{
   color: var(--bg-color-white);
   font-family: var(--font-lato);
   font-size: var(--fontsize-2);
   font-weight: 600;
}

.footer-bottom > ul{
   display: flex;
   align-items: center;
   gap: 3vw;
}

:has( > .footer-bottom__social-icon){
   display: flex;
}

.footer-bottom__social-icon{
   width: var(--fontsize-6);
   height: auto;

   cursor: pointer;
}


/* MEDIA QUERIES*/

@media screen and (max-width: 100em) {
   :root{
      --basepadding: 8vw;
   }

   :has( > .banner__image){
      transform: scale(1) translateX(10%);
   }

   .image-shadow::after{
      left: 2%;
   }

   .text__quotations::before{   
      left: -.25em;
   }

   .text__quotations::after{   
      right: -.25em;
   }
}

@media screen and (max-width: 50em) {
   :root{
      --basepadding: 6vw;
   }

   .header-bar, 
   .header-navigation{
      position: relative;
   }

   .header-bar{
      justify-content: center;
   }

   .header-bar__contact,
   .header-bar__cart{
      background-image: var(--gradient-blue);
   }

   .header-bar__contact,
   .header-bar__cart{
      flex-direction: column;
      align-items: center;
      
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;

      z-index: 1;
      
      transform: scaleY(0);
      transform-origin: top;
      filter: opacity(0);

      transition: transform 1s ease-in-out, filter 2s ease-in-out;
   }

   :is(.menu-checkbox, .nav-checkbox) + label{
      position: relative;
      left: unset;

      opacity: 1;
   }

   .menu-checkbox + label{
      font-size: var(--fontsize-2);
      color: var(--fontcolor-white);
      font-family: var(--font-josefine);
      font-weight: 600;
   }

   .nav-checkbox + label{
      font-size: var(--fontsize-2);
      color: var(--fontcolor-blue);
      font-family: var(--font-josefine);
      font-weight: 600;
   }

   .header-navigation{
      justify-content: space-between;
   }

   .header-navigation > :is(nav, a){
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;

      z-index: 1;
      
      transform: scaleY(0);
      transform-origin: top;
      filter: opacity(0);

      transition: transform 1s ease-in-out, filter 2s ease-in-out;
   }

   .header-navigation > nav{
      background-color: #FFFFFF;
   }

   .header-navigation > nav > ul{
      align-items: center;
   }         

   .header-navigation__items{
      flex-direction: column;
   }

   .header-navigation__underline{
      display: none;
   }

   .header-navigation__logo{
      width: 25%;
   }

   .banner__content-wrapper{
      flex-direction: column-reverse;
   }

   :has( > .banner__image){
      transform: scale(1) translateX(0);
   }

   .banner__button-container{
      flex-direction: column;
      gap: 3vh;
   }

   .info{
      flex-direction: column;
      gap: 5vh;
   }

   .info :is(h2, h3){
      text-align: center;
   }

   .info-blue{
      flex-direction: column-reverse;
   }

   .testimonials__cards{
      flex-direction: column;
      gap: 5vh;
   }

   .explanation__list{
      flex-direction: column;
   }

   .advantages__card-wrapper{
      flex-direction: column;
   }

   .advantages__card{
      width: 100%;
   }

   .highlight__image{
      width: 50%;
   }

   .invitation{
      flex-direction: column;
   }

   .invitation__text > h2{
      text-align: center;
   }

   .invitation__text > p{
      max-width: 100%;
   }

   .invitation__text > ul{
      flex-direction: column;
      align-items: center;
   }

   .invitation__text > ul > li{
      width: 80%;
   }

   .invitation__text > ul > li::before{
      height: 1.5em;
   }

   .invitation__text > a{
      display: block;
      
      width: 70%;
      margin-inline: auto;
      margin-bottom: 1.5em;
   }

   .invitation__cards > ul{
      flex-direction: column;
      align-items: center;
   }

   .invitation__cards > ul > li{
      width: 75%;

      text-align: center;
   }

   .lead-capture{
      flex-direction: column;
   }

   .contact__content-wrapper{
      flex-direction: column;
   }

   .footer-top{
      flex-direction: column;
   }
   
}